body {
  font-family: Roboto;
  line-height: 1.5;
  background-color: #0a323b;
  color: #e6fbff;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; 
  background-color: #0c3648;      
}

th, td {
  text-align: center;
  vertical-align: top;        
  padding: 16px;    
}

thead th {
  text-align: center;
}

tbody tr td {
    border-top: 1px solid #1f5961;
    vertical-align: middle;
}

img {
  width: 100%;
  max-width: 500px;
  height: auto;               
  display: block;   
  align-items: center; 
  margin: 0 auto;
           
}

#columna2 {
  text-align: center;
  align-items: center;
}

#titulo {
  font-size: 30px;
  margin: 6px 0 14px;
  color:#76c7c0;
}

td ul {
  text-align: left;
  padding-left: 22px;
  margin: 8px auto 0;
  max-width: 60ch;           
}

td li {
  margin-bottom: 4px;
}
h4{
    color: skyblue;
}
